{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": "umi",
  "parserOptions": {
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "jsx": true
      },
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "flowtype",
    "import",
    "jsx-a11y"
  ],
  "rules": {
    "indent": ["warn", 2],
    "quotes": ["warn",  "single"],
    "comma-dangle": ["warn", "never"],
    "no-unused-vars": 0,
    "no-console": 0,
    "no-empty": 0,
    "no-const-assign": "error",
    "comma-spacing": ["warn", {"before": false, "after": true}],
    "new-cap": ["error", { "newIsCap": true }]
  }
}
